*{
text-align: center;
}
.Flatiron{
  background-image: url("../Pictures/the-flatiron-building.png");
}
.Introduction{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
.Introduction .Flatiron h1{
  font-size: 70px;
  font-weight: bold;
}
